<!DOCTYPE html>
html lang="en"
  head
    meta charset="UTF-8"/
    meta name="viewport" content="width=device-width, initial-scale=1.0"/
    link rel="stylesheet" href="css/style.css"/
    title Clients' Assets
    script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  body
    script src="js/toggles.js" type="text/javascript"
    script src="js/s-scroll.js" type="text/javascript"
    script src="js/rotate-on-click.js" type="text/javascript"
    main
      navigation.aside
        .tag#button
          span.arrow &raquo;
          // &#10173;
          // &#9720;
          // &#8679;
          // &lt;
        .nav.flex.container
          h2.clients-title Clients
          .clients
            .jq.container
              .flex.container.dets
                .pagelink
                  a.c-link href="#juice-quest" title='Juice quest Assets' Juice quest
              .container.grid.colors
                .color.color-1.magenta-haze
                  .code &nbsp;
                .color.color-2.amaranth-purple
                  .code &nbsp;
                .color.color-3.indian-red
                  .code &nbsp;
                .color.color-4.butterscotch
                  .code &nbsp;
                .color.color-5.saffron
                  .code &nbsp;
                .color.color-6.yellow-green
                  .code &nbsp;
                .color.color-7.hunter-green
                  .code &nbsp;
                .color.color-8.dry-green
                  .code &nbsp;
                .color.color-9.black
                  .code &nbsp;
                .color.color-10.bg
                  .code &nbsp;
                .color.color-11.cadet-grey
                  .code &nbsp;
                .color.color-12.off-white
                  .code &nbsp;
            .ccf.container
              .flex.container.dets
                .pagelink
                  a.c-link href="#ccf" title='Cockatoo Creek Farm Assets' Cockatoo Creek Farm
              .container.grid.colors
                .color.color-1.eerie-black
                  .code &nbsp;
                .color.color-2.school-bus-yellow
                  .code &nbsp;
                .color.color-3.ut-orange
                  .code &nbsp;
                .color.color-4.burnt-orange
                  .code &nbsp;
                .color.color-5.coyote
                  .code &nbsp;
                .color.color-6.lion
                  .code &nbsp;
                .color.color-7.champagne
            .nira.container
              .flex.container.dets
                .pagelink
                  a.c-link href="#nira" title='NiRA Assets' NiRA
              .container.grid.colors
                .color.color-1.dark-green
                  .code &nbsp;
                .color.color-2.midnight-green
                  .code &nbsp;
                .color.color-3.blue-munsell
                  .code &nbsp;
                .color.color-4.sky-blue
                  .code &nbsp;
                .color.color-5.persian-green
                  .code &nbsp;
                .color.color-6.cream
                  .code &nbsp;
                .color.color-7.pink-lavender
                  .code &nbsp;
                .color.color-8.celeste
                  .code &nbsp;
                .color.color-9.columbia-blue
                  .code &nbsp;
      section#juice-quest.title
        h1.title Juice Quest Colour Palette
        h3.subtitle Colors, Fonts & other assets
        section.jq.swatches
          .flex.container
            .color.color-1.magenta-haze
              .code #953d6b
            .color.color-2.amaranth-purple
              .code #9d2c43
            .color.color-3.indian-red
              .code #dd5162
            .color.color-4.butterscotch
              .code #ea9940
            .color.color-5.saffron
              .code #f4c046
            .color.color-6.yellow-green
              .code #9ec757
            .color.color-7.hunter-green
              .code #245a34
            .color.color-8.dry-green
              .code #386946
            .color.color-9.black
              .code #000000
            .color.color-10.bg
              .code #222222
            .color.color-11.cadet-grey
              .code #9da5ae
            .color.color-12.off-white
              .code #f4f4f4
        section.jq.content
          .flex.container
            .colors.flex
              .color.color-title
                h3 Colors
              .color.color-1.magenta-haze
                .code #953d6b
                .name magenta haze
              .color.color-2.amaranth-purple
                .code #9d2c43
                .name amaranth purple
              .color.color-3.indian-red
                .code #dd5162
                .name indian red
              .color.color-4.butterscotch
                .code #ea9940
                .name butterscotch
              .color.color-5.saffron
                .code #f4c046
                .name saffron
              .color.color-6.yellow-green
                .code #9ec757
                .name yellow green
              .color.color-7.hunter-green
                .code #245a34
                .name hunter green
              .color.color-8.dry-green
                .code #386946
                .name dry green
              .color.color-9.black
                .code #000000
                .name black
              .color.color-10.bg 
                .code #222222
                .name dark grey
              .color.color-11.cadet-grey
                .code #9da5ae
                .name cadet grey
              .color.color-12.off-white
                .code  #f4f4f4
                .name off white
            .assets.flex
              .url
                h3 Juice Quest URL:
                a.link href="https://juicequest.com.au" target="_blank" https://juicequest.com.au
              .font-group.one
                .font.font-name
                  h3 Font Name
                .font.font-code
                  p css code
                .font.font-link
                  p google link
                .font.font-picture
                  .pic-box 
                    img src="https://picsum.photos/600/400?random=1" width="600" height="400"
      section#ccf.title
        h1.title Cockatoo Creek Farm
        h3.subtitle Colors, Fonts & other assets
        section.ccf.swatches
          .flex.container
            .color.color-1.eerie-black
              .code #282624
            .color.color-2.school-bus-yellow
              .code #ffdd00
            .color.color-3.ut-orange
              .code #ff8500
            .color.color-4.burnt-orange
              .code #aa5900
            .color.color-5.coyote
              .code #72664c
            .color.color-6.lion
              .code #a3926d
            .color.color-7.champagne
              .code #ffe9c9
        section.ccf.content
          .flex.container
            .colors.flex
              .color.color-title
                h3 Colors
              .color.color-1.eerie-black
                .code #282624
                .name Eerie Black
              .color.color-2.school-bus-yellow
                .code #ffdd00
                .name School bus Yellow
              .color.color-3.ut-orange
                .code #ff8500
                .name Ut Orange
              .color.color-4.burnt-orange
                .code #aa5900
                .name Burnt Orange
              .color.color-5.coyote
                .code #72664c
                .name Coyote
              .color.color-6.lion
                .code #a3926d
                .name Lion
              .color.color-7.champagne
                .code #ffe9c9
                .name Champagne
            .assets.flex
              .url
                h3 Cockatoo Creek Farm URL:
                a.link href="https://cockatoocreekfarm.com.au" target="_blank" https://cockatoocreekfarm.com.au
              .font-group.one
                .font.font-name
                  h3 Font Name
                .font.font-code
                  p css code
                .font.font-link
                  p google link
                .font.font-picture
                  .pic-box 
                    img src="https://picsum.photos/600/400?random=2" width="600" height="400"
      section#nira.title
        h1.title Nira
        h3.subtitle Colors, Fonts & other assets
        section.nira.swatches
          .flex.container
            .color.color-1.dark-green
              .code #092b2a
            .color.color-2.midnight-green
              .code #1c5661
            .color.color-3.blue-munsell
              .code #2a8294
            .color.color-4.sky-blue
              .code #7cc5d4
            .color.color-5.persian-green
              .code #20aa9d
            .color.color-6.cream
              .code #ffffcc
            .color.color-7.pink-lavender
              .code #ffccff
            .color.color-8.celeste
              .code #aaffff
            .color.color-9.columbia-blue
              .code #ccf0ff
        section.nira.content
          .flex.container
            .colors.flex
              .color.color-title
                h3 Colors
              .color.color-1.dark-green
                .code #092b2a
                .name Dark Green
              .color.color-2.midnight-green
                .code #1c5661
                .name Midnight Green
              .color.color-3.blue-munsell
                .code #2a8294
                .name Blue Munsell
              .color.color-4.sky-blue
                .code #7cc5d4
                .name Sky Blue
              .color.color-5.persian-green
                .code #20aa9d
                .name Persian Green
              .color.color-6.cream
                .code #ffffcc
                .name Cream
              .color.color-7.pink-lavender
                .code #ffccff
                .name Pink Lavender
              .color.color-8.celeste
                .code #aaffff
                .name Celeste
              .color.color-9.columbia-blue
                .code #ccf0ff
                .name Columbia Blue
            .assets.flex
              .url
                h3 NiRA URL:
                a.link href="https://nira.com.au" target="_blank" https://nira.com.au
              .font-group.one
                .font.font-1
                  h3.font-name Fonts: Titillium Web
                  code.font-code @font-face { font-family: "Titillium Web"; src: url("https://fonts.google.com/specimen/Titillium+Web") format("woff2"); font-style: normal; font-weight: 400; font-display: swap; }
                  p.font-link Font google link: <a href="https://fonts.gstatic.com/s/titilliumweb/v17/NaPecZTIAOhVxoMyOr9n_E7fdM3mDQ.woff2" class="font-link link" target='_blank'>titillium web</a>
                  .pic-box.font-pic
                    a href='img/titilliumWeb.jpg' target='blank'
                      img src="img/titilliumWeb.jpg" width="600" height="400" 
              .font-group.two
                .font.font-2
                  h3.font-name Fonts: Zilla Slab
                  code.font-code @font-face { font-family: "Zilla Slab"; src: url("https://fonts.gstatic.com/s/zillaslab/v11/dFa5ZfeM_74wlPZtksIFYskZ6H2pWw.woff2") format("woff2"); font-style: normal; font-weight: 500; font-display: swap; }
                  p.font-link Font google link: <a href="https://fonts.gstatic.com/s/zillaslab/v11/dFa5ZfeM_74wlPZtksIFYskZ6H2pWw.woff2" class="font-link link" target='_blank'>Zilla Slab</a>
                  .pic-box.font-pic
                    a href='img/zillaSlab.jpg' target='blank'
                      img src="img/zillaSlab.jpg" width="600" height="400" 
